.link {
  display: inline-block;
  min-height: 40px;
}

.link__title {
  font-family: Nunito, Arial, sans-serif, dinpro-bold;
  font-weight: 700;
  color: rgb(24, 27, 50);
  display: block;
  transition: color 0.2s ease-in-out 0s;
  font-size: 16px !important;
  line-height: 24px !important;
}

.link__title:hover {
  color: rgb(75, 34, 244);
}

@media (min-width: 768px){
  .link {
    min-height: 48px;
  }

  .link__title {
    font-size: 18px !important;
  }
}