.price {
  display: flex;
  width: 100%;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.price__value {
  margin-right: 8px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
}